<div *ngFor="let item of data | keyvalue; trackBy: trackByFn">
  <!-- Usa el método isArray para verificar si el valor es un array -->
  <mat-divider></mat-divider>
  @if (isArray(item.value)) {
  <ng-container>
    <div class="treeTitleWrapper">
      <mat-icon class="chevron" (click)="toggleVisibility(item.key)">
        {{ isVisible[item.key] ? "expand_more" : "chevron_right" }}</mat-icon
      >

      <!--  <button (click)="toggleVisibility(item.key)">
        {{ isVisible[item.key] ? "Ocultar" : "Mostrar" }} {{ item.key }}
      </button> -->
      <p>
        <strong>{{ item.key }}:</strong>
      </p>
    </div>

    @if(item.key === 'mensajes'){
    <!-- Messages table -->

    <table
      *ngIf="isVisible[item.key]"
      mat-table
      [dataSource]="item.value"
      class="mat-elevation-z8"
    >
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let message">{{ message.email }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let message">{{ message.nombre }}</td>
      </ng-container>

      <!-- Mensaje Column -->
      <ng-container matColumnDef="mensaje">
        <th mat-header-cell *matHeaderCellDef>Mensaje</th>
        <td mat-cell *matCellDef="let message">{{ message.mensaje }}</td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    } @else {

    <ul *ngIf="isVisible[item.key]">
      <li
        *ngFor="let subItem of item.value as subItemArray; let i = index"
        style="display: flex"
      >
        <div class="itemNumberContainer">
          <app-delete-button (click)="delete(item, i)"></app-delete-button>
        </div>

        <app-recursive [data]="subItem" [listIsArray]="true"></app-recursive>
        <div class="verticalSeparator"></div>
      </li>
      <div style="text-align: center">
        <app-button
          [class]="'secondary'"
          (click)="createObject(item)"
          [content]="'Añadir ' + item.key"
        ></app-button>
      </div>
    </ul>
    }
  </ng-container>

  } @else {
  <p>{{ item.key }}:</p>
  }

  <!-- Usa el método isObject para verificar si el valor es un objeto -->

  <ng-container *ngIf="isObject(item.value) && !isArray(item.value)">
    <app-recursive [data]="item.value"></app-recursive>
  </ng-container>

  <!-- Muestra el valor si no es un objeto ni un array -->
  <ng-container *ngIf="!isObject(item.value) && !isArray(item.value)">
    @if (item.key === 'imagen') {
    <input
      type="file"
      placeholder="URL de imagen"
      (change)="onFileChange($event, item.key)"
    />
    <div style="height: 100%; width: 100%">
      <img
        [src]="data[item.key]"
        style="max-width: 100%; max-height: 300px; object-fit: contain"
        alt=""
      />
    </div>
    }@else{

    <mat-form-field class="example-full-width">
      <mat-label>{{ item.key }}</mat-label>
      <input
        matInput
        placeholder="{{ item.key }}"
        value="{{ item.value }}"
        [(ngModel)]="data[item.key]"
      />
    </mat-form-field>
    <!--    <input type="text " value="{{ item.value }}" [(ngModel)]="data[item.key]" /> -->
    }
  </ng-container>

  @if (isArray(item.value) && isVisible[item.key]) { }
</div>
<br />
<div style="width: 200px"></div>
<!-- Add new object to array -->
<div *ngIf="addNewObjectToArray" class="modal">
  <div class="modal-content">
    <app-recursive [data]="auxObject"> </app-recursive>
    <app-button
      [class]="'secondary green'"
      [content]="'Crear'"
      (click)="createNewArrayItem()"
    ></app-button>
  </div>
</div>
<div *ngIf="deleteModal" class="confirm-delete-modal">
  <div class="confirm-delete-modal-content">
    <h2>{{ deleteModalMessage }}</h2>
    <app-button
      [content]="'Confirmar'"
      (click)="deleteModal = false"
    ></app-button>
  </div>
</div>
